<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>

      {% if page_obj.has_previous and page_obj.previous_page_number == 1 %}
      {% elif page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
      {% endif %}

      {% if page_obj.number == 1 %}
      {% elif page_obj.number == page_obj.paginator.num_pages %}
      {% else %}
      <li class="page-item current"><a class="page-link">{{ page_obj.number }}</a></li>
      {% endif %}

    {% if page_obj.has_next and page_obj.next_page_number == page_obj.paginator.num_pages %}
    {% elif page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number}}</a></li>
    {% endif %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
  </ul>
</nav>