{% extends 'blog/_base.html' %}

{% block title %}Main Blog Page{% endblock title %}

{% block body %}
  <h1 class="text-primary mt-2">All posts:</h1>
  {% for post in post_list %}
    <div class="card border-dark mb-3 mt-2" style="width: 30rem;">
        <div class="card-header text-center">
          <h5><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></h5>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ post.body|truncatewords:10 }}</p>
            <small class="text-capitalize fst-italic">Written by: {{ post.author }}</small>
          </blockquote>
        </div>
    </div>
  {% endfor %}
  {% include 'pagination.html' %}
{% endblock body %}